@charset  "utf-8";



textarea {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    width: 900px;
    margin: 0px 17% 60px;
}

body {
    background-color: black;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

section {
    background-color: gray;
    margin-left: 0px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

img {
    border: 2px solid black;
    border-radius: 10px;
    height: 400px;
    width: 900px;
    margin: 0px 17% 60px;
}

h2 {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 1100px;
    margin-left: 10%;
}

h3 {
    background-color : green;
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    text-align:center;
    border-radius: 10px;
    border: 2px solid black;
}

p{
    font-size: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

li {
    margin-bottom: 15px;
    color: aliceblue;
}

nav {
    background-color: green;
    text-align: left;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}
nav a {
    margin: 10px;
    background-color: black;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    color: red;
}

a {
    color: white; /* Color del enlace normal */
}

a:hover {
    color: red; /* Color cuando el ratón está sobre el enlace */
}

footer{
    clear: left;
}