@charset  "utf-8";

textarea {
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    width: 900px;
    margin: 0px 17% 60px;
}

body {
    background-color: black;
    height: 100%;
    width: 1500px;
}
aside {
    float: left;
    height: 4600px;
    width: 230px;
    background-color: gray;
    padding-right: 20px;
    border-radius: 10px;
    border: 2px solid black;
}
aside a {
    color: black;
}

section {
    background-color: gray;
    margin-left: 260px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

img {
    border: 2px solid black;
    border-radius: 10px;
    height: 370px;
    width: 900px;
    margin: 0px 17% 60px;
}

h2 {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    color: white;
}

h3 {
    background-color : green;
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    text-align:center;
    border-radius: 10px;
    border: 2px solid black;
}

p{
    font-size: 20px;
}

li {
    margin-bottom: 15px;
}

nav {
    background-color: green;
    text-align: left;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}
nav a {
    margin: 10px;
    background-color: black;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    color: red;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

footer{
    clear: left;
}